@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added below */

img {
  user-drag: none;
}

a, button,
.group span {
  @apply transition-colors duration-200 ease-in-out;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;     -ms-overflow-style: none;   }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;   }
}